<!DOCTYPE html>
<html ng-app="App">
  <head>
    <title>Links</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="." class="navbar-brand"><i class="fa fa-link"></i>&nbsp;Links</a>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/list">List</a></li>
            <li><a href="/#/tags">Tags</a></li>
          </ul>
          <form role="search" class="navbar-form navbar-left">
            <button type="button" data-toggle="modal" data-target="#settingsModal" class="btn btn-default"><i class="fa fa-cogs"></i>&nbsp;Settings</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="browserstack" href="http://www.browserstack.com/"><i class="fa fa-star"></i>&nbsp;BrowserStack</a></li>
            <li><a id="donate" href="http://dogancelik.com/donate.html"><i class="fa fa-heart"></i>&nbsp;Donate</a></li>
            <li><a href="https://github.com/links-js/links"><i class="fa fa-github"></i>&nbsp;Github</a></li>
          </ul>
        </div>
      </nav>
      <div ng-view="ng-view"></div>
      <div id="settingsModal" tabindex="-1" role="dialog" ng-controller="SettingsCtrl" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" class="close"><span>×</span></button>
              <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Source URLs</label>
                <textarea ng-model="settings.url" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <button ng-class="{active: settings.cache, 'btn-success': settings.cache}" ng-click="settings.cache = !settings.cache" class="btn btn-default">Activate Cache</button>&nbsp;<a href="https://github.com/links-js/links/wiki/Sources" target="_blank" class="btn btn-default">List of sources</a>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="settings-suggestions">Max suggestions</label>
                    <input id="settings-suggestions" ng-model="settings.limit" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Open files in</label>
                    <select ng-model="settings.openFile" class="form-control">
                      <option value="new">New tab</option>
                      <option value="current">Current tab</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Open pages in</label>
                    <select ng-model="settings.openPage" class="form-control">
                      <option value="new">New tab</option>
                      <option value="current">Current tab</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Custom CSS</label>
                <textarea ng-model="settings.css" class="form-control"></textarea>
              </div>
              <div class="text-right">
                <button ng-click="reset()" class="btn btn-default">Reset Settings</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="typeahead.html">
      <div class="row">
        <div class="col-md-12">
          <form id="type-form">
            <input id="typeahead" type="text" placeholder="Search for links" class="my-typeahead form-control input-lg">
          </form>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="list.html">
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <input type="text" placeholder="Search for links" ng-model="term" ng-change="change()" class="form-control input-lg">
            </div>
          </form>
          <div ng-repeat="link in searchResults | limitTo: settings.limit" ng-if="term != &quot;&quot;" class="panel panel-default">
            <div class="panel-heading"><span class="panel-title"><span class="text-muted">&#35;{{ $index+1 }}</span>&nbsp;{{ link.name }}&nbsp;</span>
              <ul class="hidden-xs list-inline pull-right">
                <li ng-repeat="tag in link.tags"><span><a ng-href="/#/list/tag:{{ tag }}">&#35;{{ tag }}</a></span></li>
              </ul><span class="hidden-xs text-muted pull-right">{{ link._url | filename }}&nbsp;|&nbsp;</span>
            </div>
            <div class="panel-body"><a ng-href="{{ link.url }}" ng-bind="link.url"></a></div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="tags.html">
      <div ng-controller="TagsCtrl" ng-init="openLink=&quot;type&quot;" class="row">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="form-group">
              <input type="radio" ng-model="openLink" name="openLink" id="openLink1" value="type">
              <label for="openLink1">Open link in Typeahead</label>
            </div>
            <div class="form-group">
              <input type="radio" ng-model="openLink" name="openLink" id="openLink2" value="list">
              <label for="openLink2">Open link in List</label>
            </div>
          </form>
          <ul class="tags list-inline">
            <li ng-repeat="(key, val) in tags" ng-class="getClass(val)" class="tag"><a ng-href="/#/{{ openLink }}/tag:{{ key }}">#{{key}}</a></li>
          </ul>
        </div>
      </div>
    </script>
    <script type="text/javascript" src="vendor.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>